/* make height of controls the same */
select, input[type='text'] {
    height: 2em;
}

/* div to help organize forms */
.formdiv > div {
    /*border: 1px solid black;*/
    display: inline-block;
    padding-right: 1em;
    padding-bottom: 1em;
}

/* prevent gridview contents from wrapping */
.nowrap td:not(.wrap), .nowrap th:not(.wrap) {
    white-space: nowrap
}

.wrap {
    white-space: pre-wrap
}

.no-underline {
    text-decoration: none;
}
