################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CNSA216-EBC-project/.vs/CNSA216-EBC-project/FileContentIndex/b56e443e-232e-4a16-afb3-48714b9783d0.vsidx
/CNSA216-EBC-project/.vs/CNSA216-EBC-project/FileContentIndex/b56e443e-232e-4a16-afb3-48714b9783d0.vsidx
/CNSA216-EBC-project/.vs/CNSA216-EBC-project/v17/.suo
/CNSA216-EBC-project/.vs/CNSA216-EBC-project/v17/DocumentLayout.json
/CNSA216-EBC-project/bin/CNSA216-EBC-project.dll
/CNSA216-EBC-project/bin/CNSA216-EBC-project.pdb
/CNSA216-EBC-project/obj/Debug/CNSA216-EBC-project.dll
/CNSA216-EBC-project/obj/Debug/CNSA216-EBC-project.pdb
/CNSA216-EBC-project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
